@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /* text: */
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);
  /* gradient */
  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);
  /* neutral text */
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);
  /* dividers */
  --Light-grayish-blue: hsl(240, 5%, 91%);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background: linear-gradient(var(--Soft-violet), var(--Soft-blue));
  background-repeat: no-repeat;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  display: flex;
  box-sizing: border-box;
  max-width: 900px;
  min-height: 500px;
  background-color: white;
  border-radius: 1.3rem;
  box-shadow: 0px 9px 30px 5px rgba(0,0,0,0.25);
}

.img-container {
  width: 440px;
  height: 100%;
}

.woman-img-container {
  position: absolute;
  z-index: 1;
  width: 440px;
  height: 500px;
  background-image: url(images/illustration-woman-online-desktop.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -70px 50px;
}

.bg-pattern-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: 870px;
  background-position: -470px -255px;
}

.box-img {
  position: absolute;
  top: 190px;
  left: -88px;
  user-select: none;
}

.box-img-move {
  left: -128px;
  transition: all 0.8s;
}

.faq-container {
  margin-left: 1.8rem;
  width: 440px;
  height: 100%;
}

.faq-container h1 {
  margin-top: 4rem;
  font-size: 2rem;
  user-select: none;
}

.faq-text-container {
  position: relative;
  margin-top: 3px;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--Light-grayish-blue);
  cursor: pointer;
}

.faq-text-container svg {
  position: absolute;
  left: 330px;
  top: 21px;
  width: 12px;
  height: 6px;
}

.svg-arrow-move {
  transition: all 0.5s;
  rotate: -180deg;
}

.faq-p {
  font-size: 0.9rem;
  width: 100%;
  height: 100%;
  color: var(--Very-dark-grayish-blue);
  user-select: none;
}

.faq-p-focus {
  font-weight: 700;
}

.faq-p:hover {
  color: var(--Soft-red);
}

.faq-p-answer {
  display: none;
}

.faq-p-answer-show {
  display: block;
  color: var(--Dark-grayish-blue);
  font-size: 13px;
  font-weight: 400;
  margin-top: 0;
  user-select: none;
}

 @media(max-width: 960px) {
  body {
    margin: 15rem 0 2rem 0;
    padding: 0;
    height: auto;
    background-repeat: no-repeat;
  }
  
  main {
    height: auto;
  }
  
  .card {
    flex-direction: column;
    align-items: center;
    width: 600px;
    min-height: 620px;
  }
  
  .img-container {
    width: 600px;
    height: 220px;
  }
  
  .woman-img-container {
    background-image: url(images/illustration-woman-online-mobile.svg);
    background-size: 490px;
    background-position: center;
    width: 490px;
    height: 420px;
    translate: 54px -240px;
  }
  
  .bg-pattern-container {
    position: static;
    width: 100%;
    height: 100%;
    background-image: url(images/bg-pattern-mobile.svg);
    background-size: 500px;
    background-position: 46px -2px;
  }
  
  .box-img {
    display: none;
  }
  
  .faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 600px; 
    min-height: 360px;
  }
  
  .faq-container h1 {
    margin-top: 2rem;
    font-size: 2rem;
  }
  
  .faq-text-container {
    position: relative;
    margin-top: 3px;
    width: 80%;
    height: auto;
    display: flex;
  }
  
  .faq-text-container svg {
    left: 468px;
    top: 21px;
  }
  
  .faq-p {
    font-size: 0.9rem;
    width: 100%;
    height: 100%;
  }
  
  .faq-p-answer-show {
    display: block;
  }
}

@media(max-width: 620px) {
  body {
    margin: 11rem 0 2rem 0;
  }
  
  .card {
    width: 400px;
    min-height: 560px;
  }
  
  .img-container {
    width: 400px;
    height: 150px;
  }

  .woman-img-container {
    background-size: 310px;
    width: 310px;
    height: 340px;
    translate: 44px -192px;
  }
  
  .bg-pattern-container {
    background-size: 316px;
    background-position: 40px 6px;
  }
  
  .faq-container {
    width: 400px; 
    min-height: 360px;
  }
  
  .faq-container h1 {
    margin-top: 2rem;
    font-size: 2rem;
  }
  
  .faq-text-container {
    margin-top: 3px;
    width: 80%;
    height: auto;
  }
  
  .faq-text-container svg {
    left: 308px;
    top: 21px;
  }
}

@media(max-width: 420px) {
  body {
    margin: 8rem 0 2rem 0;
  }
  
  .card {
    width: 310px;
    min-height: 470px;
  }
  
  .img-container {
    width: 310px;
    height: 100px;
  }

  .woman-img-container {
    background-size: 210px;
    width: 210px;
    height: 240px;
    translate: 48px -134px;
  }
  
  .bg-pattern-container {
    background-size: 220px;
    background-position: 42px 4px;
  }
  
  .faq-container {
    width: 310px; 
    min-height: 360px;
  }
  
  .faq-text-container {
    margin-top: 3px;
  }

  .faq-container h1 {
    margin-top: 1.6rem;
  }

  .faq-p {
    font-size: 0.8rem;
  }
  
  .faq-text-container svg {
    left: 242px;
    top: 18px;
  }
}
